<div class="container">
    <div class="h4 row my-3">商品編集</div>
  <%= form_with model: @item,url: admin_item_path do |f| %>
  <div class="row">
     <%= f.label "商品画像" %>
      <div class="form_group mb-3">
       <%= f.file_field :image,class: "form-control-file-sm ml-3" %>
      </div>
  </div>
  <div class="row mb-2">
    <%= f.label "商品名" %>
  <div class="col">
    <%=f.text_field :name,class: "form-control-sm ml-3" %>
  </div>
  </div>
  <div class="row mb-3">
    <%=f.label "商品説明" %>
  <div class="col">
    <%=f.text_area :introduction,class: "form-control-lg ml-1" %>
  </div>
  </div>

  <div class="row mb-3 ">
    <%=f.label "ジャンル"%>
  <div class="col">
    <%= f.collection_select :genre_id, Genre.all, :id, :name,class: "form-control" %>
  </div>
  </div>
  <div class="row mb-3">
    <%=f.label "税抜価格" %>
  <div class="col">
    <%=f.number_field :price,class: "form-control-sm" %>円
  </div>
  </div>
  <div class="row mb-2">
    <%= f.label "販売ステータス" %>
  <div class="col">
   <%= f.radio_button :is_active,:on_sale,:checked =>true %>販売中
   <%= f.radio_button :is_active,:stop_selling,:checked =>false %>販売停止中
  </div>
  </div>
  <div class="row">
    <%=f.submit "変更を保存",class:"btn btn-success"%>
  </div>
  <% end %>
  </div>
</div>