<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @item,url: admin_items_path do |f| %>
        <h3>商品新規登録</h3>
        <div class="form_group mb-3">
         商品画像
         <%= f.file_field :image %>
        </div>
        <div class="form_group mb-2">
          商品名前
          <%=f.text_field :name %>
        </div>
        <div class="form_group mb-3">
          商品説明
          <%=f.text_area :introduction %>
        </div>
        <div class="form_group mb-3">
          ジャンル
          <%= f.collection_select :genre_id, Genre.all, :id, :name %>
        </div>
        <div class="form_group mb-3">
          税抜価格
          <%=f.number_field :price %>円
        </div>
        <div class="form_group mb-2">
          販売ステータス
          <span class="true">
           <%= f.label :is_active, '販売中', value: 1 %>
           <%= f.radio_button :is_active,"1" %>
          </span>
          <span class="false">
           <%= f.label :is_active, '販売停止中', value: 0 %>
           <%= f.radio_button :is_active,"0" %>
          </span>
        </div>
        <div class="form_group">
          <%=f.submit "新規登録",class:"btn btn-success"%>
        </div>
      <% end %>
    </div>
  </div>
</div>