<div class="container">
  <div class="row">
    <div class="col">
      <h3>商品詳細</h3>
      <div class="item-image">
        <%=image_tad @item.image,size:"100x100" %>
      </div>
      <div class="group">
        商品名 <%=@item.name %>
      </div>
      <div class="group">
        商品説明 <%=@item.introduction %>
      </div>
      <div class="group">
        <!--ここにジャンル-->
      </div>
      <div class="group">
        税抜価格 <%=@item.price %>
      </div>
      <div class="group">
        販売ステータス <%=@item.is_active %>
      </div>
      <%=link_to "編集する",edit_admin_genre_path(@item),class: "btn btn-success" %>
    </div>
  </div>
</div>