<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag 'cupcake',width: '80%', height: '90%',class: "d-block mx-auto background-image"  %>
    </div>

  </div>
    <div class="col h3">新着商品</div>

    <% @items.last(4).each do |item|%>
     <div class="d-inline-flex">
      <%=link_to item_path(item) do %>
        <%=image_tag item.image,size: "170x120",class: "d-inline-flex rounded-circle" %>
      <% end %>
     </div>
       <%= item.name %>
       ￥<%=item.price.to_s(:delimited) %>
    <% end %>

  <div class="row">
    <div class="col text-right">
     <%=link_to "全ての商品を見る",items_path %>
    </div>
  </div>
  </div>
</div>