<div class="container">
  <div class="row">
    <div class="col">
       <h4>会員一覧</h4>
        </div>
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%=link_to admin_item_path(item) do %>
               <%=item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
            <!--genreのnameカラムを表示-->
            <td><%= item.name %></td>
            <td><%= item.is_active %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>