<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        <%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細
      </h3>
      <p class="group">
        会員ID <%=@customer.id %>
      </p>
      <p class="group">
        氏名 <%=@customer.first_name %> <%=@customer.last_name %>
      </p>
      <p class="group">
        <!--ここにジャンル-->
        フリガナ <%=@customer.first_name_kana %> <%=@customer.last_name_kana %>
      </p>
      <p class="group">
        郵便番号 <%=@customer.postal_code %>
      </p>
      <p class="group">
        住所 <%=@customer.address %>
      </p>
      <p class="group">
        電話番号 <%=@customer.telephone_number %>
      </p>
      <p class="group">
        メールアドレス <%=@customer.email %>
      </p>
      <p class="group">
        <!--会員ステータスが渡るようにする-->
        退会ステータス <%=@customer.is_active %>
      </p>
      <%=link_to '編集する',edit_admin_customer_path(@customer),class: "btn btn-success" %>
      <!--下に注文履歴一覧のページリンクを貼る-->
      <%=link_to '注文履歴一覧を見る',admin_path,class: "btn btn-info" %>
    </div>
  </div>
</div>