<div class="container">
  <div class="row my-3 mx-5 h4">
    <div class="col">ショッピングカート</div>
    <div class="col d-flex justify-content-end">
     <%=link_to "カートを空にする",delete_all_path,method: :delete,data:{confirm: "本当に消しますか？"},class: "btn btn-danger btn-sm" %>
    </div>
  </div>
 <div class="wrap">

  <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @sum =0 %>
        <% @cart_item.each do |cart_item| %>
          <tr>
            <td>
              <%=image_tag cart_item.item.image,size: "100x80"%>
              <%=cart_item.item.name%>
            </td>
            <td><%=cart_item.item.with_tax_price.to_s(:delimited) %></td>
            <td><%= cart_item.amount%>
            </td>
            <td><%=cart_item.subtotal%></td>
            <td><%= link_to "削除する",delete_cart_item_path(cart_item.id),method: :delete,data:{confirm: "本当に消しますか？"},class: "btn btn-danger"%></td>
            <% @sum += cart_item.subtotal %>
          </tr>
        <% end %>
        </tbody>
  </table>
  <div class="row">
          <div class="col">
           <%=link_to "買い物を続ける",root_path,class: "btn btn-primary btn-sm ml-5 my-3" %>
          </div>

           <table class="table-bordered">
            <tr class=" col justify-content-end ">
             <th class="pl-2 pr-5">合計金額</th><td class="pl-2 pr-5"><%= @sum.to_s(:delimited) %></td>
            </tr>
           </table>
  </div>
        <div class="row  my-4 justify-content-center">
          <%=link_to "情報入力に進む",orders_new_path,class: "btn btn-success btn-sm w-25 justify-contenzt-center" %>
        </div>

</div>
