<div class="row h4  mx-5">新規会員登録</div>
<div class="container">
 <%= form_with model: @customer,url: customer_registration_path do |f| %>
   <%= render "public/shared/error_messages", resource: resource %>
  <div class="row mb-3">
     <%= f.label "名前",class: "col-sm-2" %>
   <div class="col">
     （姓）<%= f.text_field :first_name,class: "form-control-sm"%>
     （名）<%= f.text_field :last_name,class: "form-control-sm" %>
   </div>
  </div>

   <div class="row mb-3">
     <%= f.label "フリガナ",class: "col-sm-2" %>
   <div class="col">
     (セイ)<%= f.text_field :first_name_kana,class: "form-control-sm"%>
     (メイ)<%= f.text_field :last_name_kana,class: "form-control-sm" %>
   </div>
  </div>

   <div class="row mb-3">
    <%= f.label "メールアドレス",class: "col-sm-2" %>
    <div class="col ">
     <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control-sm" %>
    </div>
   </div>

   <div class="row mb-3">
     <%=f.label "郵便番号（ハイフンなし）",class: "col-sm-2" %>
    <div class="col">
     <%=f.text_field :postal_code,class: "form-control-sm"%>
    </div>
   </div>

   <div class="row mb-3">
     <%=f.label "住所",class: "col-sm-2" %>
    <div class="col">
     <%=f.text_field :address,class: "form-control-sm" %>
    </div>
   </div>

   <div class="row mb-3">
     <%=f.label "電話番号（ハイフンなし）",class: "col-sm-2"%>
    <div class="col">
     <%=f.text_field :telephone_number,class: "form-control-sm" %>
    </div>
   </div>

   <div class="row mb-3">
     <%= f.label "パスワード"%>
      <% if @minimum_password_length %>
       <em>(<%= @minimum_password_length %>字以上)</em>
      <% end %>
    <div class="col ml-1">
     <%= f.password_field :password, autocomplete: "new-password",class: "form-control-sm" %>
    </div>
   </div>

   <div class="row mb-3">
     <%= f.label "パスワード（確認用）"%>
    <div class="col ml-1">
     <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control-sm" %>
    </div>
   </div>

   <div class="row justify-content-center">
     <%= f.submit "新規登録",class: "btn btn-success w-25" %>
   </div>
 <% end %>

 <div class="row h4 mt-4">既に登録済みの方</div>
   <span>
    <%= link_to new_customer_session_path do%>
     こちら
    <% end %>
    からログインしてください。
   </span>
</div>