<div class="container">
  <div class="h4 my-3">注文情報確認</div>
  <div class="row h4">
   <div class="col-sm-9">
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
  <% @sum =0 %>
  <% @cart_item.each do |cart| %>
        <tr>
          <td>
            <%=image_tag cart.item.image,size: "100x80"%>
            <%=cart.item.name%>
          </td>
          <td><%=cart.item.with_tax_price.to_s(:delimited) %></td>
          <td><%=cart.amount %></td>
          <td><%=cart.subtotal.to_s(:delimited) %></td>
        </tr>
        <% @sum += cart.subtotal %>
  <% end %>
      </tbody>
    </table>
   </div>
   <div class="col-sm-3">
      <table class="table table-bordered">
        <thead>
          <tr><th class="bg-light">送料</th><td>800</td></tr>
          <tr><th class="bg-light">商品合計</th><td class="py-3"><%=@sum.to_s(:delimited)%></td></tr>
          <tr><th class="bg-light">請求金額</th><td class="py-3"><%=(@sum +800).to_s(:delimited) %></td></tr>
        </thead>
      </table>
   </div>
  </div>
  <%=form_with model: @order,url: orders_path,method: :post do |f| %>
    <%=f.hidden_field :customer_id %>
    <%=f.hidden_field :pay_amount,:value => @sum +800 %>
    <%=f.hidden_field :pay_method %>
    <%=f.hidden_field :shipping_fee,:value => 800 %>
    <%=f.hidden_field :delivery_postal %>
    <%=f.hidden_field :delivery_adress %>
    <%=f.hidden_field :delivery_name %>
   <div class="row my-2 ml-2">
    <div class="font-weight-bold mx-0">支払い方法</div>
    <div class="col"><%=@order.pay_method_i18n%></div>
   </div>
   <div class="row my-3 ml-2">
    <div class="font-weight-bold mx-0">お届け先</div>
    <div class="col"><%=@order.order_deliveries%></div>
   </div>
   <div class="row justify-content-center">
     <%=f.submit '注文を確定する',class: "btn btn-success w-25" %>
   </div>
  <% end %>
</div>