<div class="container">
  <div class=" row h3 my-4">
    <div class="font-weight-bold">
     商品一覧
    </div>
    <div class="h6 d-flex align-items-end">
     （全<%=@items.length %>件）
    </div>
  </div>
    <div class="row mb-4">
    <% @kaminari.last(8).each do |item|%>
     <div class="col">
      <%=link_to item_path(item) do %>
        <%=image_tag item.image,size: "170x120",class: "ml-2" %>
      <% end %>
      <div class="col">
       <%= item.name %>
      </div>
      <div class="col">
       ￥<%= item.price.to_s(:delimited) %>
      </div>
     </div>
    <% end %>
    </div>
  <%= paginate @kaminari,theme: 'twitter-bootstrap-4' %>
</div>