<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container border-bottom m-3">
        <div class="row navbar ">
          <div class="col"></div>
            <!--ここにロゴを入れる-->
          <ul class="col ml-auto ">
          <% if admin_signed_in? %>
            <li class="nav-item list-inline-item ">
              <%=link_to "商品一覧",admin_items_path %>
            </li>
            <li class="nav-item list-inline-item">
              <%=link_to "会員一覧",admin_customers_path %>
            </li>
            <li class="nav-item list-inline-item">
              <%=link_to "注文履歴一覧",root_path %>
            </li>
            <li class="nav-item list-inline-item">
              <%= link_to "ジャンル",admin_genres_path%>
            </li>
            <li class="nav-item list-inline-item">
             <%=link_to "ログアウト",destroy_admin_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-item list-inline-item">
              <%=link_to "about",about_path %>
            </li>
            <li class="nav-item list-inline-item">
              <%=link_to "商品一覧",admin_items_path %>
            </li>
            <li class="nav-item list-inline-item">
             <a class="nav-link" href="/admin/items/new">新規登録</a>
            </li>
            <li class="nav-item list-inline-item">
             <a class="nav-link" href="/admin/sign_in">ログイン</a>
            </li>
            <li class="nav-item list-inline-item">
             <%=link_to "顧客ログアウト",destroy_customer_session_path, method: :delete %>
            </li>
          <% end %>
          </ul>
      </div>
    </header>
    <%= yield %>
   <footer class="footer">
    <div class="row border-bottom mt-5"></div>
   </footer>
  </body>
</html>
