<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row border-bottom ">
        <nav class="navbar" style="background-color:#d2b48c">
          <div class="col">
            <%=link_to root_path do %>
             <%= image_tag 'patisserie',width: '40%', height: '40%',class: "d-block ml-2 background-image" %>
            <% end %>
          </div>
          <div class="col mr-5 font-weight-bold">
            <% if customer_signed_in? %>
             <span class="text-light">
              ようこそ、
              <%= current_customer.first_name %>
              さん！
             </span>
            <% end %>
          </div>
          <ul class="mr-auto ">
          <% if admin_signed_in? %>
            <li class="nav-item list-inline-item">
              <%=link_to "商品一覧",admin_items_path,class: "border rounded p-2" %>
            </li>
            <li class="nav-item list-inline-item">
              <%=link_to "会員一覧",admin_customers_path,class: "border rounded p-2" %>
            </li>
            <li class="nav-item list-inline-item">
              <%=link_to "注文履歴一覧",admin_root_path,class: "border rounded p-2" %>
            </li>
            <li class="nav-item list-inline-item">
              <%= link_to "ジャンル",admin_genres_path,class: "border rounded p-2"%>
            </li>
            <li class="nav-item list-inline-item">
             <%=link_to "ログアウト",destroy_admin_session_path, method: :delete,class: "border rounded p-2" %>
            </li>
          <% elsif customer_signed_in? %>
            <li class="nav-item list-inline-item ">
              <%=link_to "マイページ",customers_my_page_path,class: "border rounded p-2 " %>
            </li>
            <li class="nav-item list-inline-item">
              <%=link_to "商品一覧",items_path,class: "border rounded p-2" %>
            </li>
            <li class="nav-item list-inline-item">
              <%=link_to "カート",cart_items_path,class: "border rounded p-2" %>
            </li>
             <li class="nav-item list-inline-item">
             <%=link_to "顧客ログアウト",destroy_customer_session_path, method: :delete,class: "border rounded p-2" %>
            </li>
          <% else %>
            <li class="nav-item list-inline-item ">
              <%=link_to "about",about_path ,class: "border rounded p-2"%>
            </li>
            <li class="nav-item list-inline-item">
              <%=link_to "商品一覧",items_path,class: "border rounded p-2" %>
            </li>
            <li class="nav-item list-inline-item">
             <%=link_to "新規登録",new_customer_registration_path,class: "border rounded p-2" %>
            </li>
            <li class="nav-item list-inline-item">
             <%=link_to "会員ログイン",new_customer_session_path,class: "border rounded p-2" %>
            </li>
          <% end %>
          </ul>
        </nav>
    </header>
    <%= yield %>
   <footer class="footer">
    <div class="row border-bottom mt-5"></div>
   </footer>
  </body>
</html>
